{{- /* Shows: */ -}}
{{- /*  - the given date in Jewish and Civil calendars */ -}}
{{- /*  - special events today */ -}}
{{- /*  - the omer count */ -}}
{{- /*  - the parsha to be read this Shabbos */ -}}
{{- /*  - generic zmanim */ -}}
{{- /*  - zmanim specific to the day */ -}}
{{- /*  - length of the halachic hour */ -}}
{{- /*  - a warning about zmanim accuracy */ -}}
{{- /*  - the past molad, until the 15th of the month */ -}}
{{- /*  - the next molad, from the 16th of the month */ -}}

{{- /* Configurations: */ -}}
{{- /*  - CLI date */ -}}
{{- /*  - bool cfg.daily_zmanim - enable all zmanim if true */ -}}
{{- /*  - bool cfg.sunrise_sunset - enable neitz and shkiah if true */ -}}
{{- /*  - bool cfg.candle_lighting - */ -}}
{{- /*      enable zmanim for special mitzvos of the day, */ -}}
{{- /*      like chametz, fasts, candles and havdalah */ -}}
{{- /*  - bool cfg.daily_sedra - enable the parsha every day */ -}}
{{- /*  - bool cfg.molad - enable the molad */ -}}
{{- /*  - bool cfg.no_modern - disable modern holidays */ -}}
{{- /*  - bool cfg.omer - enable the omer */ -}}
{{- /*  - bool cfg.sedrot - enable the parsha on Shabbos */ -}}
{{- /*  - bool cfg.shabbat_mevarchim - */ -}}
{{- /*      enable Shabbat Mevarchim before Rosh Chodesh */ -}}
{{- /*  - int cfg.candle_lighting_mins - */ -}}
{{- /*      how many minutes before shkiah to light */ -}}
{{- /*      for Shabbos and Yom Tov */ -}}
{{- /*  - string cfg.city - location for zmanim */ -}}
{{- /*  - float cfg.geo.lat, .lon - location for zmanim */ -}}
{{- /*  - string cfg.timezone - location for zmanim */ -}}

{{- $d := $.dateRange.StartOrToday false -}}
{{- $shabbos := $d.OnOrAfter $.time.Saturday -}}

{{- $z := forLocationDate $.location $d.Gregorian -}}
{{- $zNext := forLocationDate $.location $d.Next.Gregorian -}}

{{- if or
      $.calOptions.DailyZmanim
      $.calOptions.SunriseSunset
      $.calOptions.CandleLighting
-}}
Zmanim for {{""}}
{{- end}}
  {{- ""}}{{$d.Gregorian.Format (printf "Monday, %s" $.time.DateOnly)}}
  {{- ""}} / {{$d}}
{{- if or
      $.calOptions.DailyZmanim
      $.calOptions.SunriseSunset
      $.calOptions.CandleLighting
}}
  {{- ""}}, in {{$.location.Name}}
{{- end}}

{{- /* Is it a special day? */}}
{{- range eventsByFlags (hebcal $d)
      $.event.EREV
      $.event.CHAG
      $.event.CHOL_HAMOED
      $.event.OMER_COUNT
      $.event.CHANUKAH_CANDLES
      $.event.MINOR_HOLIDAY
      $.event.ROSH_CHODESH
      $.event.MINOR_FAST
      $.event.MAJOR_FAST
      $.event.SPECIAL_SHABBAT
      $.event.SHABBAT_MEVARCHIM
      $.event.USER_EVENT
}}
{{-   if asOmerEvent . }}
{{-     if $.calOptions.Omer}}
Tonight, count the {{.Render $.language}}.
{{-     end}}
{{-   else if and
        (not (asTimedEvent .))
        (or (ne "Chag HaBanot" .Basename) (not $.calOptions.NoModern))
}}
{{      .Render $.language}}
{{-   end}}
{{- end}}
{{- /* Restore Chanukah untimed events, since Hebcal replaces them. */}}
{{- range eventsByFlags (hebcal $d) $.event.CHANUKAH_CANDLES}}
{{-   with asTimedEvent .}}
{{      .LinkedEvent.Render $.language}}
{{-   end}}
{{- end}}

{{- /* What is the parasha? */}}
{{- if or
      $.calOptions.DailySedra
      (and
        (eq $.time.Saturday $d.Weekday)
        $.calOptions.Sedrot
      )
}}

This {{translate $.language "Shabbat"}} we read
  {{- ""}} {{parasha $shabbos (eq $.location.CountryCode "IL") $.language}}.
{{- end}}

{{- $fmt := $.time.TimeOnly}}

{{- /* Zmanim calculations are based on */}}
{{- /* https://www.chabad.org/library/article_cdo/aid/3209349/jewish/About-Our-Zmanim-Calculations.htm */}}

{{- /* $h is halachic hour duration using Neitz/Shkiah Amita @1.583 deg. */}}
{{- $neitzAmiti := $z.TimeAtAngle 1.583 true}}
{{- $shkiahAmitis := $z.TimeAtAngle 1.583 false}}
{{- $neitzTomorrow := $zNext.TimeAtAngle 1.583 true}}
{{- $h := durationDiv ($shkiahAmitis.Sub $neitzAmiti) 12}}
{{- $halfH := durationDiv $h 2}}

{{- /* For Mincha Gedolah, choose the greater of 30m or 0.5h after chatzos. */}}
{{- $d30m := timeParseDuration "30m"}}
{{- if lt $halfH $d30m }}
{{-   $halfH = $d30m}}
{{- end}}
{{- $chatzos := $neitzAmiti.Add (durationMul $h 6) }}
{{- $chatzosLailah := $shkiahAmitis.Add
  (durationDiv ($neitzTomorrow.Sub $shkiahAmitis) 2) }}

{{- /* Display today's zmanim. */}}

{{- if or
      (and (dayHasFlags $d $.event.MINOR_FAST) $.calOptions.CandleLighting)
      $.calOptions.DailyZmanim
}}

{{    ($z.TimeAtAngle 16.9 true).Format $fmt}}: Alos HaShachar
        {{- if dayHasFlags $d $.event.MINOR_FAST -}}
          , Fast starts
        {{- end}} (16.9 deg)
{{    ($z.TimeAtAngle 10.2 true).Format $fmt}}: Misheyakir (10.2 deg)
{{- end}}

{{- if or $.calOptions.DailyZmanim $.calOptions.SunriseSunset}}
{{ ($z.TimeAtAngle 0.833 true).Format $fmt}}: Neitz (0.833 deg)
{{- end}}
{{- if $.calOptions.DailyZmanim}}
{{    ($neitzAmiti.Add (durationMul $h 3)).Format $fmt}}: Sof Zman Krias Shema
{{    ($neitzAmiti.Add (durationMul $h 4)).Format $fmt}}: Sof Zman Tefillah
{{- end}}

{{- if or $.calOptions.DailyZmanim $.calOptions.CandleLighting}}
{{- /* Chametz zmanim before Pesach */}}
{{-   if eq $.time.Saturday (hdateNew $d.Year $.hdate.Nisan 14).Weekday}}
{{-     if hdateNew $d.Year $.hdate.Nisan 13 | hdateEqual $d}}
{{        ($neitzAmiti.Add (durationMul $h 5)).Format $fmt}}: Sof Zman Biur Chametz
{{-     else if hdateNew $d.Year $.hdate.Nisan 14 | hdateEqual $d}}
{{        ($neitzAmiti.Add (durationMul $h 4)).Format $fmt}}: Sof Zman Achilas Chametz
{{        ($neitzAmiti.Add (durationMul $h 5)).Format $fmt}}: Sof Zman Bittul Chametz
{{-     end}}
{{-   else}}
{{-     if hdateNew $d.Year $.hdate.Nisan 14 | hdateEqual $d}}
{{        ($neitzAmiti.Add (durationMul $h 4)).Format $fmt}}: Sof Zman Achilas Chametz
{{        ($neitzAmiti.Add (durationMul $h 5)).Format $fmt}}: Sof Zman Biur Chametz
{{-     end}}
{{-   end}}
{{- end}}

{{- if $.calOptions.DailyZmanim}}
{{    $chatzos.Format $fmt}}: Chatzos
{{    ($chatzos.Add $halfH).Format $fmt}}: Mincha Gedolah
        {{- if le $halfH $d30m }} (floored to 30m past chatzos){{end}}
{{    ($shkiahAmitis.Add (durationMul $h -2.5)).Format $fmt}}: Mincha Ketanah
{{    ($shkiahAmitis.Add (durationMul $h -1.25)).Format $fmt}}: Plag HaMincha
{{- end}}

{{- /* Candle lighting */}}
{{- $chanukah := ""}}
{{- $chanukahTime := ""}}
{{- range eventsByFlags (hebcal $d) $.event.CHANUKAH_CANDLES }}
{{-   with asTimedEvent . -}}
{{-     $chanukah = .LinkedEvent.Render $.language}}
{{-   else}}
{{-     $chanukah = .Render $.language}}
{{-   end}}
{{-   if eq $.time.Friday $d.Weekday}}
{{-     $chanukahTime = "early"}}
{{-   else if eq $.time.Saturday $d.Weekday}}
{{-     $chanukahTime = "late"}}
{{-   else}}
{{-     $chanukahTime = "normal"}}
{{-   end}}
{{- end}}

{{- if or $.calOptions.CandleLighting $.calOptions.DailyZmanim}}
{{-   if and
        (or
          (eq $.time.Friday $d.Weekday)
          (not (dayIsShabbatOrYomTov $d))
        )
        (dayIsShabbatOrYomTov $d.Next) }}
{{        (($z.TimeAtAngle 0.833 false).Add
            (durationMul
              (timeParseDuration "-1m")
              (itof $.calOptions.CandleLightingMins)
            )
          ).Format $fmt -}}
              : {{with $chanukah}}{{.}}, {{end -}}
              Licht bentshen
              {{- if hdateNew $d.Year $.hdate.Tishrei 9 | hdateEqual $d -}}
                , Fast starts
              {{- end}}
              {{- " "}}({{ $.calOptions.CandleLightingMins }}m)
{{-   end}}
{{- end}}

{{- $fast9Av := and
        (eq $d.Month $.hdate.Av)
        (dayHasFlags $d.Next $.event.MAJOR_FAST)
        (ne $.time.Friday $d.Weekday)
}}
{{- if or
      $.calOptions.SunriseSunset
      $.calOptions.DailyZmanim
      (and $.calOptions.CandleLighting (or
        $fast9Av
        (eq $chanukahTime "normal")
      ))
}}
{{   ($z.TimeAtAngle 0.833 false).Format $fmt}}: Shkiah
  {{- if $fast9Av -}}
        , Fast starts
  {{- else if eq $chanukahTime "normal" -}}
        , {{$chanukah}}
  {{- end}} (0.833 deg)

{{- end}}

{{- if $.calOptions.DailyZmanim}}
{{   ($z.TimeAtAngle 1.583 false).Format $fmt -}}
       : Shkiah Amitis/Bein HaShmashos starts (1.583 deg)
{{- end}}

{{- /* What should we show for Tzeis? Havdalah? Licht? 3 medium star tzeis? */}}
{{- if and (dayIsShabbatOrYomTov $d) (ne $.time.Friday $d.Weekday) }}
{{-   if or $.calOptions.CandleLighting $.calOptions.DailyZmanim}}
{{      (($z.TimeAtAngle $.calOptions.HavdalahDeg false).Add
            (durationMul (timeParseDuration "1m") (itof $.calOptions.HavdalahMins))
        ).Format $fmt -}}
  {{    if dayIsShabbatOrYomTov $d.Next -}}
            : Licht bentshen
  {{    else -}}
            : Havdalah
            {{- if hdateNew $d.Year $.hdate.Tishrei 10 | hdateEqual $d -}}
              , Fast ends
            {{- else if eq $chanukahTime "late" -}}
              , {{$chanukah}}
            {{- end -}}
  {{    end -}}
            {{- ""}} ( {{- $.calOptions.HavdalahDeg}} deg
            {{- with $.calOptions.HavdalahMins}} + {{.}}m{{end}}
            {{- ""}}/3 small stars)
{{-   end}}
{{- else}}{{/* not after Shabbos or YK */}}
{{-   if or
        $.calOptions.DailyZmanim
        (and
          $.calOptions.CandleLighting
          (dayHasFlags $d $.event.MINOR_FAST $.event.MAJOR_FAST)
        )
}}
{{      ($z.TimeAtAngle 6 false).Format $fmt}}: Tzeis
  {{-   if dayHasFlags $d $.event.MINOR_FAST $.event.MAJOR_FAST -}}
          , Fast ends
  {{-   end}} (6 deg/3 medium stars)
{{-   end}}
{{- end}}

{{- /* Chatzos lailah - might be after midnight, so show the day of week. */}}
{{- if $.calOptions.DailyZmanim}}
{{    $chatzosLailah.Format (printf "%s (Mon)" $fmt) }}: Chatzos HaLailah

A halachic hour is {{ $h.Round $.time.Second}}.
{{- end}}

{{- if or
      $.calOptions.DailyZmanim
      $.calOptions.SunriseSunset
      $.calOptions.CandleLighting
}}

WARNING: Allow +/-2m, as the above calculations are not exact.
They approximate the location of a city.
They also do not account for atmospheric conditions,
  {{- ""}} local elevation, and local horizon elevations.
Even sitting down or standing up
  {{- ""}} can change observed sunrise and sunset times by about 10s.
Note well that this software was released
  {{- ""}} in the hopes that someone finds it useful,
  {{- ""}} and with no guarantees about correctness or accuracy.
{{- end}}

{{- if $.calOptions.Molad}}
{{-   if le $d.Day 15}}
{{-     $molad := molad $d.Year $d.Month}}
{{-     $moladTime := $molad.Date.Gregorian}}
{{-       $moladTime = $moladTime.Add (
            printf "%dh%dm" $molad.Hours $molad.Minutes | timeParseDuration
          ) }}

The molad for this month, {{$d.MonthName $.language}},
  {{- ""}} is {{$molad.Date.Weekday}}, {{$molad.Date}}
  {{- ""}} at {{$moladTime.Format "3:04"}}
  {{- ""}} and {{$molad.Chalakim}}
  {{- ""}} {{if eq $molad.Chalakim 1}}cheilek{{else}}chalakim{{end}}
  {{- ""}} {{$moladTime.Format "PM"}}.
{{-   else}}
{{-     $nextMonth := hdateNextMonth $d}}
{{-     $molad := molad $nextMonth.Year $nextMonth.Month}}
{{-     $moladTime := $molad.Date.Gregorian}}
{{-       $moladTime = $moladTime.Add (
            printf "%dh%dm" $molad.Hours $molad.Minutes | timeParseDuration
          ) }}

The molad for next month, {{$nextMonth.MonthName $.language}},
  {{- ""}} is {{$molad.Date.Weekday}}, {{$molad.Date}}
  {{- ""}} at {{$moladTime.Format "3:04"}}
  {{- ""}} and {{$molad.Chalakim}}
  {{- ""}} {{if eq $molad.Chalakim 1}}cheilek{{else}}chalakim{{end}}
  {{- ""}} {{$moladTime.Format "PM"}}.
{{-   end}}
{{- end}}
