{{- $city := "Phoenix" -}}
{{- with getenv "CITY"}}{{$city = .}}{{end -}}
{{- $loc := lookupCity $city -}}

{{- $tz := timeLoadLocation $loc.TimeZoneId -}}

{{- $d := $.now -}}
{{- with getenv "DATE"}}{{$d = timeParseInLocation $.time.DateOnly . $tz}}{{end -}}

{{- $z := forLocationDate $loc $d -}}
Displaying zmanim for {{$d.Format $.time.DateOnly}} in {{$loc.Name}}.

{{- $fmt := $.time.TimeOnly}}

{{$z.AlotHaShachar.Format $fmt}}: Alot HaShachar
{{$z.Misheyakir.Format $fmt}}: Misheyakir
{{$z.Sunrise.Format $fmt}}: Netz
{{$z.Chatzot.Format $fmt}}: Chatzot
{{$z.Sunset.Format $fmt}}: Shkiah
{{ $dark85 := timeAtAngle $z $tz 8.5 false -}}
{{ $dark85.Format $fmt -}}
  : 8.5 degrees below horizon
{{( $dark85.Add (timeParseDuration "72m") ).Format $fmt -}}
  : 72m after 8.5 degrees below horizon

A halachic hour is {{ ($z.Hour | secondsDuration).Round $.time.Second}}.
{{- range 13}}
{{    (hourOffset $z $tz (itof .)).Format $fmt -}}
  : {{.}} halachic hour{{if ne . 1}}s{{end}}
{{- end}}
