{{- /* Read date from CLI args, in hebcal format, with NoJulian=false. */}}
{{- /* Unlike hebcal, default to today's full date, instead of the year. */}}
{{- $d := $.dateRange.StartOrToday false -}}

Gregorian: {{$d.Gregorian.Format $.time.DateOnly}}
Hebrew: {{$d.Day}} {{$d.MonthName $.language}} {{$d.Year}}
