{{- /* Read date from CLI args, in hebcal format, with NoJulian=false. */}}
{{- /* Unlike hebcal, default to today's full date, instead of the year. */}}
{{- $d := ($.dateRange.StartOrToday false).Gregorian}}
{{- $rounding := timeParseDuration "5m"}}
{{- $advance := timeParseDuration "-15m"}}
{{- range 14}}
{{-   $z := forDate $d}}
{{-   $mincha := ($z.Sunset.Add $advance).Truncate $rounding}}
{{-   $mincha.Format "Mon Jan 02, 2006: 3:04 PM\n"}}
{{-   $d = $d.AddDate 0 0 1}}
{{- end -}}
