{{- /* A hyphen ("-") at the beginning or end of a directive means
to delete whitespace in that direction until a file boundary,
non-whitespace, or another directive. */}}

{{- /* English month label */}}
{{- $monthDay := timeDate $.now.Year $.now.Month 1 0 0 0 0 $.tz}}
{{- $nextMonth := $monthDay.AddDate 0 1 0}}
{{- $monthDay.Month}} {{$.now.Year}}

{{- /* Hebrew month label(s) */}}
{{- $hdate := hdateFromTime $monthDay}}
{{- $hdateLast := hdateFromTime ($nextMonth.AddDate 0 0 -1)}}
{{$hdate.Month}}
{{- /* If the Hebrew year changes, */}}
{{- /* show the starting year by the starting month. */}}
{{- if ne $hdate.Year $hdateLast.Year}} {{$hdate.Year}}{{end}}
{{- /* If the Hebrew month changes, hyphenate the range. */}}
{{- if ne $hdateLast.Month $hdate.Month}}
{{-   " - "}}{{$hdateLast.Month}}
{{- end}}
{{- " "}}{{$hdateLast.Year}}

|  Sun  |  Mon  |  Tue  |  Wed  | Thurs |  Fri  |  Sat  |
{{- $cellWidth := 7}}
{{- /* header rule */}}
{{repeat (printf "|%s" (repeat "-" $cellWidth)) 7}}|

{{- /* Add blank boxes each weekday until day 1 of the month. */}}
{{  range 7}}
{{-   if eq $monthDay.Weekday .}}{{break}}{{end}}
{{-   "|"}}{{repeat " " $cellWidth}}
{{- end}}

{{- /* Number the cells with the Gregorian and Hebrew days of the month. */}}
{{- range 31}}
{{-   if not ($monthDay.Before $nextMonth)}}{{break}}{{end}}
{{-   "|"}}
{{- /* Put asterisks around today's date, else use spaces. */ -}}
{{    if datePartsEqual $monthDay $.now}}*{{else}} {{end}}
{{-   printf "%2d %2d" $monthDay.Day (hdateFromTime $monthDay).Day}}
{{-   if datePartsEqual $monthDay $.now}}*{{else}} {{end}}
{{-   $tomorrow := $monthDay.AddDate 0 0 1}}
{{-   if eq $monthDay.Weekday $.time.Saturday}}|
{{-     if $tomorrow.Before $nextMonth}}{{"\n"}}{{end}}
{{-   end}}
{{-   $monthDay = $tomorrow}}
{{- end -}}

{{- /* Add blank boxes until the end of the last week. */ -}}
{{- if ne $monthDay.Weekday $.time.Sunday}}|
{{-   range 8}}
{{-     if eq $monthDay.Weekday $.time.Sunday}}{{break}}{{end}}
{{-     repeat " " $cellWidth}}|
{{-     $monthDay = $monthDay.AddDate 0 0 1}}
{{-   end}}
{{- end}}
