{{- $timeFormat := "03:04 PM" -}}
{{- $dateFormat := "Mon Jan 2 2006" -}}
This Shabbat in {{$.location.Name}}:

{{/* Read date from CLI args, in hebcal format, with NoJulian=false. */}}
{{- /* Unlike hebcal, default to today's full date, instead of the year. */}}
{{- /* Then get the Shabbos for this week. */}}
{{- $shabbos := ($.dateRange.StartOrToday false).OnOrAfter $.time.Saturday}}
{{- $erev := $shabbos.Prev -}}

Erev Shabbat: {{$erev.Gregorian.Format $dateFormat}} / {{$erev}}
{{- /* Set up hebcal.CalOptions to get zmanim for $erev. */}}
{{- setStart $erev}}{{setEnd $erev}}
{{- range timedEvents}}
{{- /* Skip normal zmanim, only show candlelighting. */}}
{{-   if eq .Flags $.event.ZMANIM}}
{{-     continue}}
{{-   end}}
{{    .EventTime.Format $timeFormat}}: {{.Desc}}
{{- end}}

Shabbat: {{$shabbos.Gregorian.Format $dateFormat}} / {{$shabbos}}
{{- /* Set up hebcal.CalOptions to get zmanim for $shabbos. */}}
{{- setStart $shabbos}}{{setEnd $shabbos}}
{{- range timedEvents}}
{{-   if eq .Desc "Tzeit HaKochavim"}}{{/* redundant, so skip */}}
{{-     continue}}
{{-   end}}
{{    .EventTime.Format $timeFormat}}: {{.Desc}}
{{- end}}
