This Shabbat in {{$.location.Name}}:

{{- /* Read date from CLI args, as in classic hebcal, with NoJulian=false. */}}
{{- $d := $.dateRange.Start false}}
{{- /* In classic hebcal, no args defaults to just the year. */}}
{{- /* We want today's full date. */}}
{{- if $.dateRange.Source.IsZero}}
{{-   $d = hdateFromTime $.now}}
{{- end}}

{{- $timeFormat := "03:04 PM"}}

{{- $d = $d.OnOrAfter $.time.Saturday}}
{{- $z := forLocationDate $.location $d.Gregorian}}
{{- $erev := $d.Prev}}
{{- $zErev := forLocationDate $.location $erev.Gregorian}}

Erev Shabbat: {{$erev.Gregorian.Format "Mon Jan 02 2006"}} / {{$erev}}
{{- range timedEvents $zErev}}
{{- /* Skip normal zmanim, only show candlelighting. */}}
{{-   if eq .Flags $.event.ZMANIM}}
{{-     continue}}
{{-   end}}
{{    .EventTime.Format $timeFormat -}}
        : {{.Desc}}
{{- end}}

Shabbat: {{$d.Gregorian.Format "Mon Jan 02 2006"}} / {{$d}}
{{- range timedEvents $z}}
{{-   if eq .Desc "Tzeit HaKochavim"}}{{/* redundant, so skip */}}
{{-     continue}}
{{-   end}}
{{    .EventTime.Format $timeFormat -}}
        : {{.Desc}}
{{- end}}
